<?xml version="1.0" encoding="utf-8"?>
<STBLXMLFile xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<DefaultLanguage>0</DefaultLanguage>
	<STBLGroup>1064960002</STBLGroup>
	<STBLInstance>15720991508592122211</STBLInstance>
	<STBLName>NeonOcean.Order.STBL.System.{0:Underscored}</STBLName>
	<BuildIdentifiers>true</BuildIdentifiers>
	<IdentifiersGroup>1064960002</IdentifiersGroup>
	<IdentifiersInstance>13929200698819281377</IdentifiersInstance>
	<IdentifiersName>NeonOcean.Order.STBL.System.Identifiers</IdentifiersName>
	<Entries>
		<STBLXMLEntry>
			<Key>3925577695</Key>
			<Identifier>NeonOcean.Order.System.Debug.Write_Failure_Notification.Text</Identifier>
			<English>Failed to write a debug file, this problem may make error reporting impossible.

Error Information:
{0.String}</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>4130649510</Key>
			<Identifier>NeonOcean.Order.System.Debug.Write_Failure_Notification.Title</Identifier>
			<English>NeonOcean - Order:
Major Failure Detected</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>417805022</Key>
			<Identifier>NeonOcean.Order.System.Distribution.Promotions.Default.Button</Identifier>
			<English>View</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3873914742</Key>
			<Identifier>NeonOcean.Order.System.Distribution.Promotions.Default.Title</Identifier>
			<English>NeonOcean:</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3805660097</Key>
			<Identifier>NeonOcean.Order.System.Distribution.Update_Notification.Button</Identifier>
			<English>View update</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>4125734532</Key>
			<Identifier>NeonOcean.Order.System.Distribution.Update_Notification.Preview_Text</Identifier>
			<English>The currently installed version of this mod has been superseded by a new one.

Release type: Patrons only
Version: {0.String}</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>683934429</Key>
			<Identifier>NeonOcean.Order.System.Distribution.Update_Notification.Release_Text</Identifier>
			<English>The currently installed version of this mod has been superseded by a new one.

Release type: Public
Version: {0.String}</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2397609223</Key>
			<Identifier>NeonOcean.Order.System.Distribution.Update_Notification.Title</Identifier>
			<English>NeonOcean - {0.String}:
Update Available</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2848967417</Key>
			<Identifier>NeonOcean.Order.System.Generic_Dialogs.Open_Browser_Dialog.No_Button</Identifier>
			<English>No</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>206665494</Key>
			<Identifier>NeonOcean.Order.System.Generic_Dialogs.Open_Browser_Dialog.Text</Identifier>
			<English>This will open in an external browser. Would you like to proceed?&lt;br/&gt;&lt;br/&gt;</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2198622161</Key>
			<Identifier>NeonOcean.Order.System.Generic_Dialogs.Open_Browser_Dialog.Yes_Button</Identifier>
			<English>Yes</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1994869418</Key>
			<Identifier>NeonOcean.Order.System.Interactions.Global.Support_NeonOcean.Display_Name</Identifier>
			<English>Support NeonOcean</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>404109003</Key>
			<Identifier>NeonOcean.Order.System.Interactions.Global.Visit_NeonOcean_Site.Display_Name</Identifier>
			<English>Visit NeonOcean's website</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3146042648</Key>
			<Identifier>NeonOcean.Order.System.Interactions.Standard.Documentation.Display_Name</Identifier>
			<English>Documentation</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3310385506</Key>
			<Identifier>NeonOcean.Order.System.Interactions.Standard.Reset.Display_Name</Identifier>
			<English>Reset</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>681249744</Key>
			<Identifier>NeonOcean.Order.System.Interactions.Standard.Visit_Mod_Page.Display_Name</Identifier>
			<English>Visit mod page</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2515170047</Key>
			<Identifier>NeonOcean.Order.System.Interactions.Support.Dependent.Disabled_Tooltip</Identifier>
			<English>The mod '{0.String}' is not loaded.</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2502811662</Key>
			<Identifier>NeonOcean.Order.System.Interaction_Categories.ModSettings</Identifier>
			<English>Mod Settings</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2273491374</Key>
			<Identifier>NeonOcean.Order.System.Interaction_Categories.NeonOcean</Identifier>
			<English>NeonOcean</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2638093493</Key>
			<Identifier>NeonOcean.Order.System.Interaction_Categories.Order</Identifier>
			<English>Order</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>10486687</Key>
			<Identifier>NeonOcean.Order.System.Loading.Compatibility_Notification.Text</Identifier>
			<English>Detected missing mods or incompatible mod versions. 

The following mods had to be disabled because of this:
{0.String}</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>314878352</Key>
			<Identifier>NeonOcean.Order.System.Loading.Compatibility_Notification.Title</Identifier>
			<English>NeonOcean - Order:
Bad Mod Setup Detected</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3835239609</Key>
			<Identifier>NeonOcean.Order.System.Loading.Failure_Notification.Text</Identifier>
			<English>Some mods failed to load correctly.

The following mods had to be disabled because of this:
{0.String}</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3927702068</Key>
			<Identifier>NeonOcean.Order.System.Loading.Failure_Notification.Title</Identifier>
			<English>NeonOcean - Order:
Major Failure Detected</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1328112988</Key>
			<Identifier>NeonOcean.Order.System.Loading.Not_Loaded_Notification.Text</Identifier>
			<English>A few mods were never loaded, even though they should have been.

The following mods are not loaded because of this:
{0.String}</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2899849598</Key>
			<Identifier>NeonOcean.Order.System.Loading.Not_Loaded_Notification.Title</Identifier>
			<English>NeonOcean - Main:
Mods Not Loaded</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1020902634</Key>
			<Identifier>NeonOcean.Order.System.Reset.Confirm_Dialog.Everything_Text</Identifier>
			<English>Are you sure you want to reset this mod?</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>291917783</Key>
			<Identifier>NeonOcean.Order.System.Reset.Confirm_Dialog.No_Button</Identifier>
			<English>No</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1617918298</Key>
			<Identifier>NeonOcean.Order.System.Reset.Confirm_Dialog.Settings_Text</Identifier>
			<English>Are you sure you want to reset all settings for this mod?</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1904365976</Key>
			<Identifier>NeonOcean.Order.System.Reset.Confirm_Dialog.Title</Identifier>
			<English>Resetting {0.String}...</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2704255539</Key>
			<Identifier>NeonOcean.Order.System.Reset.Confirm_Dialog.Yes_Button</Identifier>
			<English>Yes</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1196102140</Key>
			<Identifier>NeonOcean.Order.System.Reset.Dialog.Cancel_Button</Identifier>
			<English>Cancel</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2723434677</Key>
			<Identifier>NeonOcean.Order.System.Reset.Dialog.Everything_Button</Identifier>
			<English>Reset Everything</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>214434395</Key>
			<Identifier>NeonOcean.Order.System.Reset.Dialog.Settings_Button</Identifier>
			<English>Reset Settings</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2028538986</Key>
			<Identifier>NeonOcean.Order.System.Reset.Dialog.Text</Identifier>
			<English>What do you want to reset?</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3199216600</Key>
			<Identifier>NeonOcean.Order.System.Reset.Dialog.Title</Identifier>
			<English>Resetting {0.String}...</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2976543847</Key>
			<Identifier>NeonOcean.Order.System.Settings.Boolean.False</Identifier>
			<English>Disabled</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2752506041</Key>
			<Identifier>NeonOcean.Order.System.Settings.Boolean.True</Identifier>
			<English>Enabled</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3001875472</Key>
			<Identifier>NeonOcean.Order.System.Settings.Values.Check_For_Preview_Updates.Description</Identifier>
			<English>If enabled, the mod will report preview updates along with release updates. The setting "Check For Updates" still needs to be enabled in order to check for updates. This setting will not be used if NeonOcean's Main is installed.</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2921310502</Key>
			<Identifier>NeonOcean.Order.System.Settings.Values.Check_For_Preview_Updates.Name</Identifier>
			<English>Check For Preview Updates</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2031660311</Key>
			<Identifier>NeonOcean.Order.System.Settings.Values.Check_For_Updates.Description</Identifier>
			<English>If enabled, a notification will be shown whenever a mod update is available. This setting will not be used if Main by NeonOcean is installed.</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>2620196778</Key>
			<Identifier>NeonOcean.Order.System.Settings.Values.Check_For_Updates.Name</Identifier>
			<English>Check For Updates</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1477334222</Key>
			<Identifier>NeonOcean.Order.System.Settings.Values.Show_Promotions.Description</Identifier>
			<English>If enabled, the mod may occasionally show a notification to promote things like new mods or major updates. All promotions will only ever be shown once. This setting will not be used if NeonOcean's Main is installed.</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3026272262</Key>
			<Identifier>NeonOcean.Order.System.Settings.Values.Show_Promotions.Name</Identifier>
			<English>Show Promotions</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1818702976</Key>
			<Identifier>NeonOcean.Order.System.Setting_Dialogs.Apply_Button</Identifier>
			<English>Apply</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>953331461</Key>
			<Identifier>NeonOcean.Order.System.Setting_Dialogs.Cancel_Button</Identifier>
			<English>Cancel</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>745826898</Key>
			<Identifier>NeonOcean.Order.System.Setting_Dialogs.Choice_Button</Identifier>
			<English>{0.String}{1.String}{2.String}</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>1982053343</Key>
			<Identifier>NeonOcean.Order.System.Setting_Dialogs.Standard.Text_Documentation_Template</Identifier>
			<English>{0.String}

Default: {1.String}

&lt;a href="event:{2.String}"&gt;&lt;u&gt;View Documentation&lt;/u&gt;&lt;/a&gt;

</English>
		</STBLXMLEntry>
		<STBLXMLEntry>
			<Key>3070643665</Key>
			<Identifier>NeonOcean.Order.System.Setting_Dialogs.Standard.Text_Template</Identifier>
			<English>{0.String}

Default: {2.String}


&lt;a href="event:{3.String}"&gt;&lt;u&gt;View Documentation&lt;/u&gt;&lt;/a&gt;

</English>
		</STBLXMLEntry>
	</Entries>
</STBLXMLFile>